body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color: #ff7b00fd;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width:100%;
    border-radius: 350px;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, LightSalmon, tomato);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    }
    .Dream-area{
        background-image: url("images/dream-bg.png");
        background-repeat: no-repeat;  
        background-position: right;
    }
    .experience-area{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
        
    }
    .single-experience{
        box-shadow: 10px 10px 40px gray;
        border-radius: 10px;
        height: 70%;
        
    }
    #london{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, LightSalmon, tomato);
    border-image-slice: 1;
    }
    #progress{
        border-left: 7px solid;
    border-image: linear-gradient(180deg, Lightblue, blue);
    border-image-slice: 1;
    }